---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Looper } from "../components/Looper";
---

<BaseLayout>
  <main class="@container/app mx-auto w-full">
    <Looper client:idle />
  </main>
</BaseLayout>
