#video-box {
  background-color: #457b9d;
}

.bg-error {
  /* background-color: #dc3545 !important; */
  background-color: #961b27 !important;
  height: 20%;
}

.bg-clean {
  background-color: #457b9d !important;
  height: 20%;
}
