body {
  height: 100vh !important;
}

#root {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-height: 640px) {
  #root {
    overflow-y: initial !important;
  }

  body {
    height: auto;
  }

  .Home {
    height: auto !important;
  }
}
